{% extends 'base.html.twig' %}

{% block title %}Logged{% endblock %}

{% block body %}
<div class="window" method="post">
    <div class="top-bar">
      <a class="btn-red"></a>
      <a class="btn-orange"></a>
      <a class="btn-green"></a>
    </div>
    <div class="form-content">
      <img src="img/logo.png" alt="logo" class="logo-admin"/>
      <h1>Vous êtes connecté!</h1>
      {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnection</a>
        </div>
    {% endif %}
    </div>  
  </div>
{% endblock %}
